/* Reset and General Styles */
.slider1 {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.single-slide-wrap {
    position: relative;
    width: 100%;
    text-align: center;
}

.image-container {
    position: relative;
    width: 100%;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Styles for slider content */
.slider-content h2,
.slider-content h3,
.slider-content p {
    color: black; /* Set the text color to black */
}

/* Styles for buttons */
.slider-btn a.btn {
    color: white; /* Set button text color to white */
}

.slider-btn a.btn-brand {
    background-color: white; /* Set button background color */
}

.slider-btn a.btn-brand-rev {
    background-color: #007bff; /* Set button background color */
}

body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

/* Header Styles */
#header-area {
    background-color: #add8e6;
    color: #000;
}

.preheader-area {
    padding: 10px 0;
}

.preheader-left a {
    color: #000;
    margin-right: 20px;
    text-decoration: none;
}

/* Navbar Styles */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    max-width: 70px;
    height: auto;
}

.navbar-toggler-icon {
    background-color: #007bff;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

/* Main Content Styles */
.main-content {
    padding-top: 20px;
}

.py-4 {
    padding: 40px 0;
}

/* Footer Styles */
#footer-area {
    background-color: #77c3df;
}

.footer-widget {
    padding: 40px 0;
}

.footer-widget img {
    max-width: 65px;
    height: auto;
}

.footer-about p {
    margin-bottom: 15px;
}

.widget-title {
    color: #ffffff;
}

.widgei-body p {
    margin-bottom: 20px;
}

.newsletter-form {
    margin-bottom: 20px;
}

.newsletter-form input,
.newsletter-form button {
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.footer-social-icons a {
    margin-right: 15px;
    color: #d6611e;
    text-decoration: none;
}

/* Footer Bottom Styles */
.footer-bottom {
    background-color: #3c8de3;
    padding: 10px 0;
    color: #fff;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .preheader-left {
        text-align: center;
        margin-bottom: 10px;
    }

    .navbar-toggler-icon {
        background-color: #fff;
    }

    .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-widget {
        text-align: center;
    }

    .footer-social-icons {
        margin-top: 20px;
    }

}
