@extends('layouts.frontend')
@section('title','About')
@section('content')
<section>
<div class="container">

    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="img/bg/14.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">About Us</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index-2.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>About Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

 <!-- ABOUT US AREA START -->
 <div class="ltn__about-us-area pt-25 pb-120 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="img/others/9.png" alt="About Us Image">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-30">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">About Us</h6>
                        <h1 class="section-title">Your faithful partner for mental health care.</h1>
                        <p>MindQuilo connects you with qualified and experienced mental health professionals who can help you with various issues such as stress, anxiety, depression, trauma, addiction, relationships, and more.</p>
                    </div>
                    <ul class="ltn__list-item-1 ltn__list-item-1-before--- clearfix">
                        <li><i class="fas fa-check-square"></i> Offers self-help resources and community support to help you improve your mental well-being and resilience.</li>
                        <li><i class="fas fa-check-square"></i> Helps you access professional, affordable, and convenient mental health care from anywhere, anytime, and at your own pace.</li>
                        <li><i class="fas fa-check-square"></i> Improve your mental well-being, such as cognitive behavioral therapy, positive psychology, stress management, and more.</li>
                    </ul>
                    <div class="about-author-info-2 border-top mt-30 pt-20">
                        <ul>
                            <li>
                                <div class="about-author-info-2-brief  d-flex">
                                    <div class="author-img">
                                    <img src="img/blog/author.jpg" alt="#">
                                    </div>
                                    <div class="author-name-designation">
                                        <h4 class="mb-0">Pulok Biswas</h4>
                                        <small>Psychiatrists</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="about-author-info-2-contact  d-flex">
                                    <div class="about-contact-icon d-flex align-self-center mr-10">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="about-author-info-2-contact-info">
                                        <small>Get Support</small>
                                        <h6 class="mb-0">+8801793651750</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->

    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h1 class="section-title">Core Features</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__custom-gutter">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center">
                        <div class="ltn__feature-icon">

                            <img src="img/icons/icon-img/24.png" alt="#">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="service-details.html">Empathetic Design</a></h4>
                            <p>At its core, design is visual storytelling. MindQuilo’s website exudes a sense of tranquility. Let muted colors and stirring images create the ambiance, resonating a sense of empathy.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center active">
                        <div class="ltn__feature-icon">

                            <img src="img/icons/icon-img/25.png" alt="#">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="service-details.html">Holistic Approach</a></h4>
                            <p>Straightforward messaging, user-friendly navigation pages. Whether you’re looking for counseling, self-help resources, or community connections, MindQuilo provides a holistic experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center">
                        <div class="ltn__feature-icon">

                            <img src="img/icons/icon-img/26.png" alt="#">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="service-details.html">Content</a></h4>
                            <p>Dive into our niche-specific content—books, games, and more. MindQuilo faithfully represents your mental health needs, drawing in new clients who seek quality information and support.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center">
                        <div class="ltn__feature-icon">

                            <img src="img/icons/icon-img/27.png" alt="#">
                        </div>
                        <div class="ltn__feature-info">
                            <h4><a href="service-details.html">Anytime, Anywhere</a></h4>
                            <p>Mental health doesn’t wait for office hours. We ensures 24/7 accessibility. Whether you’re struggling to express your pain or seeking urgent assistance, our website is your reliable companion.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- COUNTER UP AREA START -->
    <div class="ltn__counterup-area section-bg-1 bg-image bg-overlay-theme-black-80--- pt-115 pb-70" data-bs-bg="img/bg/30.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon">
                            <!-- <img src="img/icons/icon-img/2.png" alt="#">  -->
                            <i class="flaticon-add-user-1"></i>
                        </div>
                        <h1><span class="counter">733</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Active Clients</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon">
                            <!-- <img src="img/icons/icon-img/3.png" alt="#">  -->
                            <i class="flaticon-dining-table-with-chairs"></i>
                        </div>
                        <h1><span class="counter">33</span><span class="counterUp-letter">K</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Cup Of Coffee</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon">
                            <!-- <img src="img/icons/icon-img/3.png" alt="#">  -->
                            <i class="flaticon-package"></i>
                        </div>
                        <h1><span class="counter">100</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Get Rewards</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-center">
                        <div class="counter-icon">
                            <!-- <img src="img/icons/icon-img/3.png" alt="#">  -->
                            <i class="flaticon-maps-and-location"></i>
                        </div>
                        <h1><span class="counter">21</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Country Cover</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTER UP AREA END -->

    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area section-bg-1 pt-115 pb-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h6 class="section-subtitle ltn__secondary-color">//  features  //</h6>
                        <h1 class="section-title">Why Choose Us<span>.</span></h1>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <!-- <span><img src="img/icons/icon-img/21.png" alt="#"></span> -->
                                <span><i class="fas fa-hand-holding-medical"></i> </span>
                            </div>
                            <h3><a href="service-details.html">Holistic Approach</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>Our website offers straightforward messaging, user-friendly navigation pages. Whether you’re looking for counseling, self-help resources, or community connections, MindQuilo provides a holistic experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <!-- <span><img src="img/icons/icon-img/22.png" alt="#"></span> -->
                                <span><i class="fas fa-microscope"></i> </span>
                            </div>
                            <h3><a href="service-details.html">Accessible Anytime, Anywhere</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>MindQuilo ensures 24/7 accessibility. Whether you’re struggling to express your pain or seeking urgent assistance, our website is your reliable partner on the journey to better mental well-being.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-7">
                        <div class="ltn__feature-icon-title">
                            <div class="ltn__feature-icon">
                                <!-- <span><img src="img/icons/icon-img/23.png" alt="#"></span> -->
                                <span><i class="fas fa-stethoscope"></i> </span>
                            </div>
                            <h3><a href="service-details.html">Expertly Curated Content</a></h3>
                        </div>
                        <div class="ltn__feature-info">
                            <p>MindQuilo’s website exudes a sense of tranquility, resonating with empathy. And diverse needs. Explore our niche-specific content, including books, games, and other mental health resources. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

   <!-- BLOG AREA START (blog-3) -->
   <div class="ltn__blog-area pt-115 pb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">News & Blogs</h6>
                    <h1 class="section-title">Leatest Blogs</h1>
                </div>
            </div>
        </div>
        <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a href="blog-grid.html"><img src="img/blog/1.png" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Mental Health</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-grid.html">How Mental Health Affects Your Physical Health and What You Can Do About It</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>January 01, 2024</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-grid.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a href="blog-grid.html"><img src="img/blog/2.png" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Mental Health</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-grid.html">The Impact of Childhood Abuse on Mental Health and How to Heal from Trauma</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>January 01, 2024</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-grid.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a href="blog-grid.html"><img src="img/blog/3.png" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Mental Health</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-grid.html">The Benefits of Online Counseling for Your Mental Well-Being</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>January 01, 2024</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-grid.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a href="blog-grid.html"><img src="img/blog/4.png" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Mental Health</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-grid.html">How to Break Free from Your Mental Barriers and Achieve Your Goals</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>January 01, 2024</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-grid.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Blog Item -->
            <div class="col-lg-12">
                <div class="ltn__blog-item ltn__blog-item-3">
                    <div class="ltn__blog-img">
                        <a href="blog-grid.html"><img src="img/blog/5.jpg" alt="#"></a>
                    </div>
                    <div class="ltn__blog-brief">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                </li>
                                <li class="ltn__blog-tags">
                                    <a href="#"><i class="fas fa-tags"></i>Mental Health</a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="ltn__blog-title"><a href="blog-grid.html">The Importance of Self-Care and Self-Compassion for Your Mental Health</a></h3>
                        <div class="ltn__blog-meta-btn">
                            <div class="ltn__blog-meta">
                                <ul>
                                    <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>January 01, 2024</li>
                                </ul>
                            </div>
                            <div class="ltn__blog-btn">
                                <a href="blog-grid.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
        </div>
    </div>
</div>
<!-- BLOG AREA END -->
</div>
</section>
@endsection

